<form id="vehicleForm" {{on "submit" this.update}}>
        <Home::Vehicles::VehicleForm::ImageEditor @id="formVehicleImage" @source={{@model.primaryImgHash}} />
        <Home::Vehicles::VehicleForm::InputField maxlength=12 type="text" @id="formRegNum" @text="Registration Number" @value={{(pretify-reg-num @model.regNum)}} />
        <Home::Vehicles::VehicleForm::InputField type="number" step=1 min=0 max=9999999 @id="formVehicleKm" @text="Vehicle Km" @value={{@model.km}} />

        <Home::Vehicles::VehicleForm::Dropdown @id="typeSelect" @text="Vehicle Type">
            {{#each @types as |type|}}
                    <option selected={{is-equal type.code @model.vehicleType.code}} value={{type.id}}>{{type.code}}</option>
            {{/each}}
        </Home::Vehicles::VehicleForm::Dropdown>

        <Home::Vehicles::VehicleForm::Dropdown @id="brandSelect" @text="Vehicle Brand" @lid="brandSelectLabel">
            {{#each @brands as |brand|}}
                    <option selected={{is-equal brand.name @model.vehicleBrand.name}} value={{brand.id}}>{{brand.name}}</option>
            {{/each}}
        </Home::Vehicles::VehicleForm::Dropdown>
        <Home::Vehicles::VehicleForm::InputField maxlength=45 type="text" @lid="brandNameLabel" @id="brandName" @text="Brand Name" @value={{@model.vehicleBrandName}} />
        <button type="button" id="toggleBrand" class="btn btn-primary btn-sm" {{on "click" this.toggleBrand}}>Other Brand</button>

        <Home::Vehicles::VehicleForm::Dropdown @id="modelSelect" @text="Vehicle Model" @lid="modelSelectLabel">
            {{#each @models as |model|}}
                    <option selected={{is-equal model.name @model.vehicleModel.name}} value={{model.id}}>{{model.name}}</option>
            {{/each}}
        </Home::Vehicles::VehicleForm::Dropdown>
        <Home::Vehicles::VehicleForm::InputField maxlength=45 type="text" @lid="modelNameLabel" @id="modelName" @text="Model Name" @value={{@model.vehicleModelName}} />
        <button type="button" id="toggleModel" class="btn btn-primary btn-sm" {{on "click" this.toggleModel}}>Other Model</button>

        <Home::Vehicles::VehicleForm::Years id="yearSelect" @vehicleYear={{@model.year}} />

        <Home::Vehicles::VehicleForm::Months id="monthSelect" @vehicleMonth={{@model.month}} />  

        <Home::Vehicles::VehicleForm::Dropdown @id="primaryFuelTypeSelect" @text="Primary Fuel Type">
            {{#each @fuelTypes as |fuelType|}}
                <option selected={{is-equal fuelType.code @model.primaryFuelType.code}} value={{fuelType.id}}>{{fuelType.code}}</option>
            {{/each}}
        </Home::Vehicles::VehicleForm::Dropdown>

        <Home::Vehicles::VehicleForm::InputField step=1 min=0 max=10000 type="number" pattern="[0-9.]" @id="formPrimaryFuelTank" @text="Primary Fuel Tank, l" @value={{@model.primaryFuelTankCapacity}}/>
        
        <button type="button" id="toggleSecondaryFuelType" class="btn btn-primary btn-sm" {{on "click" this.addFuelType}}>Add Secondary Fuel Type</button>
        <Home::Vehicles::VehicleForm::Dropdown @id="secondaryFuelTypeSelect" @text="Secondary Fuel Type" @lid="secondaryFuelTypeLabel">
            {{#each @fuelTypes as |fuelType|}}
                <option selected={{is-equal fuelType.code @model.secondaryFuelType.code}} value={{fuelType.id}}>{{fuelType.code}}</option>
            {{/each}}
        </Home::Vehicles::VehicleForm::Dropdown>

        <Home::Vehicles::VehicleForm::InputField step=1 min=0 max=10000 type="number" pattern="[0-9.]" @id="formSecondaryFuelTank" @text="Secondary Fuel Tank, l" @lid="secondaryFuelTankLabel" @value={{@model.secondaryFuelTankCapacity}}/>

        <Home::Vehicles::VehicleForm::InputField step=1 min=0 max=10000 type="number" pattern="[0-9.]" @id="horsePower" @text="Engine Power, hp" @value={{@model.hp}} />
        <Home::Vehicles::VehicleForm::InputField step=1 min=0 max=10000 type="number" pattern="[0-9.]" @id="kiloWat" @text="Engine Power, kW" @value={{@model.kw}} />
        <Home::Vehicles::VehicleForm::InputField step=1 min=0 type="number" pattern="[0-9.]" @id="displacement" @text="Displacement, sm3" @value={{@model.displacement}} />
        <Home::Vehicles::VehicleForm::InputField minlength=17 maxlength=17 @id="vin" @text="VIN" @type="text" @value={{@model.vinNum}} />
        <Home::Vehicles::VehicleForm::InputField @id="engineNum" @text="Engine Number" @type="text" @value={{@model.engineNum}} />
        <Home::Vehicles::VehicleForm::InputField step=1 min=0 max={{@model.km}} type="number" @id="startKm" @text="Bought km" @value={{@model.startKm}} />

        <div id="documentsDiv">
            <h1>Required Documents</h1>
            <p class="lead">Select required document for this vehicle.</p>
            <p class="lead">They are going to apear in the vehicle main page. All documents can be found in the archive.</p>
        </div>

        <Home::Vehicles::VehicleForm::Checkbox @text="Annual technical inspection" @value=1 @vehicleAttr={{@model.vehicleAttributes}} />
        <Home::Vehicles::VehicleForm::Checkbox @text="Third-party liability insurance" @value=2 @vehicleAttr={{@model.vehicleAttributes}} />
        <Home::Vehicles::VehicleForm::Checkbox @text="Car Insurance" @value=3 @vehicleAttr={{@model.vehicleAttributes}} />
        <Home::Vehicles::VehicleForm::Checkbox @text="Vignette" @value=4 @vehicleAttr={{@model.vehicleAttributes}} />
        <Home::Vehicles::VehicleForm::Checkbox @text="Tax" @value=5 @vehicleAttr={{@model.vehicleAttributes}} />
        <button class="btn btn-primary btn-lg formElement" id="saveVehicleData" type="button" {{on "click" this.update}}>Save</button>
</form>
