<LinkTo id="vehicleFormButton" class='btn btn-primary btn-lg homeButton' @model={{@model}} @route="home.vehicles.vehicle.vehicle-info">General Info / Edit</LinkTo>
<h1>Vehicle : {{@model.regNum}}</h1>
<div id='vehicleInfo' class="card text-white bg-primary mb-3">
    <div class="card-header">
        <div id='regNum'>
             <h3>Registration Number: {{@model.regNum}}</h3>
        </div>
    </div>
    <div class="card-body">
        <h4 id='vehicleKm'>Vehicle km : {{@model.km}}</h4>
        <h4>{{@model.vehicleType.code}}</h4>
        <h4>{{@model.vehicleBrand.name}} {{@model.vehicleModel.name}}</h4>
  </div>
</div>
<div class="card text-white bg-primary mb-3" id="imagePlaceholder"> 
    <img id="vehicleImage" src="https://gara6.bg/auto-api/imgs/thmb/{{@model.primaryImgHash}}" alt="Vehicle Image">
</div>