<h1>General Info</h1>
<div id="imageEditor">
    <div class="card text-white bg-primary mb-3" id="formImagePlaceholder"> 
        <img  id="formVehicleImage" src="https://gara6.bg/auto-api/imgs/thmb/{{@model.primaryImgHash}}" alt="Vehicle Image">
    </div>
    <button class="btn btn-primary btn-lg homeButton" type="button" id="imageEdit">Edit</button>
    <button class="btn btn-primary btn-lg homeButton" type="button" id="imageDelete">Delete</button>
</div>
<form id="vehicleForm">
        <label id="label" class="formElement" for="formRegNum">Registration Number</label>
        <Input class="form-control formElement input" id="formRegNum" @value={{@model.regNum}}/><br>
        <label id="label" class="formElement" for="formVehicleKm">Vehicle Km</label>
        <Input class="form-control formElement input" id="formVehicleKm" @value={{@model.km}}/><br>
        <div class="form-group">
            <label for="typeSelect">Vehicle Type</label>
            <select class="form-control" id="typeSelect">
                {{#each this.types as |type|}}
                    <option selected={{render-selected type.code @model.vehileType.code}}>{{type.code}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="brandSelect">Vehicle Brand</label>
            <select class="form-control" id="brandSelect">
                {{#each this.brands as |brand|}}
                    <option selected={{render-selected itemValue=brand.name vehicleValue=@model.vehileBrand.name}}>{{brand.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="modelSelect">Vehicle Model</label>
            <select class="form-control" id="modelSelect">
                {{#each this.models as |vModel|}}
                    <option selected={{render-selected itemValue=vModel.name vehicleValue=@model.vehicleModel.name}}>{{model.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="yearSelect">Year</label>
            <select class="form-control" id="yearSelect">
                    {{#each this.years as |year|}}
                        <option selected="{{render-selected itemValue=year vehicleValue=@model.year}}">{{year}}</option>
                    {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="monthSelect">Month</label>
            <select class="form-control" id="monthSelect">
                    {{#each this.months as |month|}}
                        <option>{{month}}</option>
                    {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="primaryFuelTypeSelect">Primary Fuel Type</label>
            <select class="form-control" id="primaryFuelTypeSelect">
                    {{#each this.fuelTypes as |fuelType|}}
                        <option>{{fuelType.code}}</option>
                    {{/each}}
            </select>
        </div>
        <label id="label" class="formElement" for="formPrimaryFuelTank">Primary Fuel Tank, l</label>
        <Input class="form-control formElement input" id="formPrimaryFuelTank" @value={{@model.primaryFuelTankCapacity}}/><br>
        <label id="label" class="formElement" for="horsePower">Engine Power, hp</label>
        <Input class="form-control formElement input" id="horsePower" @value={{@model.hp}}/><br>
        <label id="label" class="formElement" for="kiloWat">Engine Power, kW</label>
        <Input class="form-control formElement input" id="kiloWat" @value={{@model.kw}}/><br>
        <label id="label" class="formElement" for="displacement">Displacement, sm3</label>
        <Input class="form-control formElement input" id="displacement" @value={{@model.displacement}}/><br>
        <label id="label" class="formElement" for="vin">VIN</label>
        <Input class="form-control formElement input" id="vin" maxlength="17" {{on "change" (fn this.upperCase 1)}} @value={{@model.vinNum}}/><br>
        <label id="label" class="formElement" for="engineNum">Engine Number</label>
        <Input class="form-control formElement input" id="engineNum" @value={{@model.engineNum}}/><br>
        <label id="label" class="formElement" for="startKm">Bought km</label>
        <Input class="form-control formElement input" id="startKm" @value={{@model.startKm}}/><br>

</form>
