<h1>General Info</h1>
<Home::Vehicles::VehicleForm @model={{@model}} @types={{this.vehicleTypeService.all}} @brands={{this.vehicleBrandService.all}} 
@models={{filter-models @model.vehicleBrand.name this.vehicleModelService.all}} @fuelTypes={{this.fuelTypeService.all}} />




