<h1>General Info</h1>
<Home::Vehicles::VehicleForm @model={{@model}} @types={{vehicleTypeService.all}} @brands={{vehicleBrandService.all}} 
@models={{filter-models @model.vehicleBrand.name vehicleModelService.all}} @fuelTypes={{fuelTypeService.all}} />




